@model LicensingSolution.Models.VehicleLicence

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>VehicleLicence</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VehLicenceNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VehLicenceNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VehIdentificationNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VehIdentificationNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VehMake)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VehMake)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegisteringAuthority)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegisteringAuthority)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfExpiry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfExpiry)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Owner)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Owner.IDNumber)
        </dd>*@
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.VehRegisterNumber">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
