@model LicensingSolution.Models.VehicleLicence

@{
    ViewData["Title"] = "Details";
    var doe = Model.DateOfExpiry.ToString("dd-MMM-yyyy");
}

<div class="card">
    <div class="card-body">
        <h2 class="card-title mdi mdi-receipt text-lg-right"> MOTOR VEHICLE LICENCE / DISK</h2>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Owner.FullName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Owner.FullName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Owner.EmailAddress)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Owner.EmailAddress)
            </dd>
            <dt class="col-sm-2">
                Primary Number
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Owner.PrimaryContactNumber)
            </dd>
            <dt class="col-sm-2">
                Secondary Number
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Owner.SecondaryContactNumber)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Owner.Street)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Owner.Street)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Owner.Suburb)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Owner.Suburb)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Owner.City)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Owner.City)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Owner.PostalCode)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Owner.PostalCode)
            </dd>
            <dt class="col-sm-2">
                Vehicle Reg. Number
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.VehRegisterNumber)
            </dd>
            <dt class="col-sm-2">
                Licence Number
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.VehLicenceNumber)
            </dd>
            <dt class="col-sm-2">
                VIN
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.VehIdentificationNumber)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.VehMake)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.VehMake)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.RegisteringAuthority)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.RegisteringAuthority)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DateOfExpiry)
            </dt>
            <dd class="col-sm-10">
                @doe
            </dd>
        </dl>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.VehRegisterNumber">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
