@model LicensingSolution.Models.OperatingLicence

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>OperatingLicence</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicationNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApplicationNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AssociationName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssociationName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VehRegistrationNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VehRegistrationNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EngineNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EngineNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VehMass)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VehMass)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Manufacturer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Manufacturer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VehDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VehDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Passengers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Passengers)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YearOfReg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YearOfReg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValidFrom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValidFrom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValidUntil)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValidUntil)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Owner)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Owner.OwnerId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.OperatingLicenceNumber">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
