@model LicensingSolution.Models.Owner

@{
    ViewData["Title"] = "Details";
}

<div class="card">
    <div class="card-body">
        <h2 class="card-title mdi mdi-account-card-details text-lg-right"> Owner</h2>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.FullName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FullName)
            </dd>
            <dt class="col-sm-2">
                Association
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Association.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.OwnerId)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.OwnerId)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.EmailAddress)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.EmailAddress)
            </dd>
            <dt class="col-sm-2">
                Primary Number
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PrimaryContactNumber)
            </dd>
            <dt class="col-sm-2">
                Secondary Number
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.SecondaryContactNumber)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Street)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Street)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Suburb)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Suburb)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.City)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.City)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PostalCode)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PostalCode)
            </dd>
        </dl>
    </div>
</div>
<br />
<form asp-action="Edit" asp-route-id="@Model.OwnerId" method="get">
    <button class="btn btn-primary"><i class="fa fa-edit"></i></button>
    <abbr title="View List"><a class="btn btn-outline-primary icon-btn" href="~/Owners"><i class="fa fa-list row" style="padding:1px"></i></a></abbr>
</form>
