@model IEnumerable<LicensingSolution.Models.Owner>

@{
    ViewData["Title"] = "Index";    
}
<!DOCTYPE html>
<html>
<body class="sidebar-mini fixed">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <table class="table table-hover table-bordered" id="table_id" style="width: 100%">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.FullName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.EmailAddress)
                                </th>
                                <th>
                                    Operation Licences
                                </th>
                                <th>
                                    Vehicle Licences
                                </th>
                                <th>
                                    Drivers
                                </th>
                                <th>
                                    Options
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                             {
                                var opLicences = item.OperatingLicences.Count();
                                var vehLicences = item.VehicleLicences.Count();
                                var drivers = item.Drivers.Count();
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FullName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EmailAddress)
                                    </td>
                                    <td>
                                        @opLicences.ToString()
                                    </td>
                                    <td>
                                        @vehLicences.ToString()
                                    </td>
                                    <td>
                                        @drivers.ToString()
                                    </td>
                                    <td>
                                        <a asp-action="Edit" asp-route-id="@item.OwnerId">Edit</a> |
                                        <a asp-action="Details" asp-route-id="@item.OwnerId">Details</a> |
                                        <a asp-action="Delete" asp-route-id="@item.OwnerId">Delete</a>
                                    </td>
                                </tr>
                             }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script src="~/DataTables/jquery-3.4.1.js"></script>
    <link href="~/DataTables/DataTables-1.10.18/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/DataTables/datatables.min.css" rel="stylesheet" type="text/css" />
    <script src="~/DataTables/datatables.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $('#table_id').DataTable({
            "scrollY": 250,
            "scrollX": true
        });
        responsive: true
    </script>
</body>
</html>