@model LicensingSolution.Models.Driver

@{
    ViewData["Title"] = "Delete";
    var led = Model.DrivingLicence.LicenceExpiryDate.ToString("dd-MMM-yyyy");
    var pdped = Model.DrivingLicence.PDPExpiryDate.ToString("dd-MMM-yyyy");
}

<div class="card">
    <div class="card-body">
        <h3>Are you sure you want to delete this?</h3>
        <h4>Driver</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.FullName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FullName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DrivingLicence.LicenceNumber)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DrivingLicence.LicenceNumber)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DriverId)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DriverId)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DrivingLicence.LicenceExpiryDate)
            </dt>
            <dd class="col-sm-10">
                @led
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DrivingLicence.PDPExpiryDate)
            </dt>
            <dd class="col-sm-10">
                @pdped
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Owner)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Owner.FullName)
            </dd>
        </dl>
        <form asp-action="Delete">
            <input type="hidden" asp-for="DriverId" />
            <button class="btn btn-danger"><i class="fa fa-trash"></i></button>
            <abbr title="View List"><a class="btn btn-outline-primary icon-btn" href="~/Drivers"><i class="fa fa-list row" style="padding:1px"></i></a></abbr>
        </form>
    </div>
</div>